dist: trusty
language: java
jdk:
    - oraclejdk8


sudo: required

before_install:
    # Install Thrift
    - sudo apt-get update -qq
    - sudo apt-get install -y --no-install-recommends automake bison curl flex g++ libboost-dev libboost-filesystem-dev libboost-program-options-dev libboost-system-dev libboost-test-dev libevent-dev libssl-dev libtool make pkg-config
    - sudo apt-get install -y thrift-compiler

addons:
    # Sonarcloud
    sonarcloud:
        organization: "tonydeng-github"
        token:
            secure: "Z0cbT5ea+rC3viK/WvEaw8tKFicP2ZT797wexGBJulaw3NJWb4iKnJA/+nNMYnqw++EksSuJpn56t4N8CKAn/u11q1gCYARb/xiekTjID5WlJg8Re0FO3E3rgRYJSBm0qGB30zdZAKuoDlyiylVpM9h5bmFEd6UF/ylhn5v1Cx5yq+yufBRtlEsxUNujgSIrnGe5SUdFYjAAxR+iR1LBfTO3dVrJYjxYbj7LiXUjl+quT5Tqs6aHIXqY/uQsR/esBWFZFtFCfyvipXmnLyEoc834e26L9uSrQV8lgQf6nyqBA2CCP08zMar9QIHVWHBRfmH+tQQAEyvSecxJzG5oF+AjxN5X6xPfLQy98WbRIwAa92Vs9uw1j0StAx3oxf5iT8AZA5A+bmF5Br6V1oEGzqRnMbSqpEfdO/1BfozAk0lAS8HZ88cl555zikTpePOqVlwehJf4CR5xUGOYnjQkiNI7tPSRU3GNFrZfiHEnGZlpkoXGBcDR5vWRxkcXa9wY3UOUgyGpD0FBFLryBNiq8dHYuy2nzPLTlv67MueybLE58Ea/BNRR291BaM3/HTIWOHGtsiw8JL7sf8nV0St2HaaFKVmimCUj2SxpgiiSmTESAI1iSXgArarzOexpVDzyV2QOFWVDWWDKZbquJDcCW5gWLDulITpbAiGQALmUOso="

script:
    # JaCoCo is used to have code coverage, the agent has to be activated
    - mvn install -T20
    - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar

cache:
    directories:
        - '$HOME/.m2/repository'
        - '$HOME/.sonar/cache'